.listTile {
  border: 2px solid rgb(20, 110, 0);
  padding: 0.5rem;
  margin: 0.5rem;

  > * {
    margin: 0.4rem;
  }
}

.headerTile,
.profileTile,
.avatarTile {
  border: 2px solid rgb(20, 110, 0);
  padding: 0.5rem;
  margin: 0.5rem;

  img {
    aspect-ratio: 1;
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    border: 3px solid black;
  }
}

.avatarTile {
  display: grid;
  justify-items: center;

  button {
    justify-self: end;
  }
}

.tile-arr {
  > * {
    margin: 0.3rem;
  }
}
